HELP.md
mvnw
mvnw.cmd
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
application-dev.yml
application-dev.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.history/

### React ###
node_modules/
src/main/resources/public/